# Python
__pycache__/
*.py[codz]
*.so
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Project-specific
plots/
data/
checkpoints/
